[submodule "thirdparty/Nuklear"]
	path = thirdparty/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "thirdparty/sokol"]
	path = thirdparty/sokol
	url = https://github.com/floooh/sokol.git
